/* General styling */
body {
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#container {
    width: 90%;
    max-width: 400px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #1e1e1e;
}

/* Input and Button styling */
input, button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
}

input {
    background-color: #333;
    color: #fff;
}

button {
    cursor: pointer;
    background-color: #4CAF50;
    color: #fff;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

/* Results Div */
#results-div {
    margin-top: 20px;
    padding: 10px;
    background-color: #333;
    border-radius: 5px;
    text-align: center;
}

/* Placeholder color */
::placeholder {
    color: #bbb;
}

/* Responsive design */
@media (max-width: 600px) {
    #container {
        width: 95%;
        padding: 15px;
    }

    input, button {
        padding: 8px;
    }
}
